<!--
    This is an about page for users to go on and look when and why we were founded, pretty simple.
    Created by: Philip Gaver
    Last modified: 11/30/2022
-->


@page "/Aboutpage"

<PageTitle>About Us</PageTitle>


<head> 
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/main.css" rel="stylesheet" />
   
</head>

<h1>About us</h1>
<h3 style="color:#FFC72C;"> We started this project to help students at ETSU learn about our campus and history behind our campus. We started Bucky the Buccaneer's Thrilling Treasure Adventure
	 as a scavenger hunt in 2022.</h3>

